#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-centered, .button-centered {
  display: block;
  margin: 10px auto;
}



/* Personalización de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px;  /* Ancho de la barra */
}

::-webkit-scrollbar-thumb {
  background-color: #464545;  /* Color del 'thumb' */
  border-radius: 10px;  /* Bordes redondeados */
  border: 3px solid #fff;  /* Espacio entre la barra y el 'thumb' */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;  /* Color del track (el fondo de la barra) */
  border-radius: 10px;
}

.select-container {
  max-height: 100px !important;  /* Máxima altura para el selector */
  overflow-y: auto;   /* Activar desplazamiento vertical */
}

.selector-container{
  max-height: 170px;
}

.input-box{
  margin-right: 5px;
}

.relative{
  max-height: 100px !important;
}




